<!DOCTYPE html>
<html>
<head>
    <title>Страница 1</title>
</head>
<body>
    <h1>Страница 1</h1>
    <form method="POST">
        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="middle_name">Отчество:</label>
        <input type="text" id="middle_name" name="middle_name" required><br><br>

        <label for="birth_date">Дата рождения:</label>
        <input type="text" id="birth_date" name="birth_date" required><br><br>

        <label for="occupation">Род деятельности:</label>
        <input type="text" id="occupation" name="occupation" required><br><br>

        <input type="submit" value="Отправить">
    </form>
    <br>
    <a href="/">Вернуться в главное меню</a>
</body>
</html>